---
import Layout from "../../layouts/Layout.astro"
import Hero from "../../components/Hero.astro"
import Benefits from "../../components/Benefits.astro"
import CTA from "../../components/CTA.astro"

export async function getStaticPaths() {
    return [
        {params: {area: "hucknall"}, props: {area: "Hucknall", about: "Hucknall is a town located to the north of Nottingham city centre, situated in the Ashfield district of Nottinghamshire. The town has a rich industrial heritage, with coal mining and textile industries playing key roles in its history. Today, Hucknall offers a range of local amenities, including shops, restaurants, and leisure facilities, as well as easy access to nearby green spaces such as Bestwood Country Park and Hucknall Leisure Centre."}},
        {params: {area: "ilkeston"}, props: {area: "Ilkeston", about: "Ilkeston is a town in Derbyshire, situated about 8 miles west of Nottingham. With a population of around 38,000 people, Ilkeston is the largest town within the Borough of Erewash. The town has a rich industrial history, having been a center for coal mining and lace-making in the past. Today, Ilkeston offers a range of amenities, including several supermarkets, a leisure center, and a variety of shops and restaurants. The town is well-connected to nearby areas via road and rail, with easy access to Nottingham and Derby. Ilkeston is also home to several parks and green spaces, including Victoria Park and Rutland Recreation Ground, making it a popular destination for outdoor activities and leisure."}},
        {params: {area: "kirkby-in-ashfield"}, props: {area: "Kirkby-In-Ashfield", about: "Kirkby-In-Ashfield is a town located in the Ashfield district of Nottinghamshire, situated to the north of Nottingham city centre. The town offers a mix of residential and commercial areas, with a range of local amenities including shops, cafes, and leisure facilities. Kirkby-In-Ashfield is also close to popular attractions such as Newstead Abbey and the Sherwood Forest Visitor Centre."}},
        {params: {area: "sutton-in-ashfield"}, props: {area: "Sutton-In-Ashfield", about: "Sutton-In-Ashfield is a market town located in the Ashfield district of Nottinghamshire. The town is known for its industrial heritage and coal mining history, which is reflected in landmarks such as the Sutton Heritage Centre and the Silverhill Colliery Winding Engine. Sutton-In-Ashfield also offers a range of local amenities including shops, parks, and leisure facilities."}},
        {params: {area: "worksop"}, props: {area: "Worksop", about: "Worksop is a town located in the north of Nottinghamshire, close to the border with South Yorkshire. The town offers a mix of historical landmarks, such as the Worksop Priory, and modern amenities including shopping centres, leisure facilities, and parks. Worksop is also surrounded by picturesque countryside, including the nearby Clumber Park and Sherwood Forest."}},

    ]
}

const {area, about} = Astro.props;
const city = "Mansfield"
---

<Layout title={`Mobile Tyre Fitting In ${area}`} description={`Have your tyres fitted at home in ${area} with our convenient mobile tyre fitting service. Call us today for a quote.`} index={true}>
    <Hero heading={`Mobile Tyre Fitting in ${area}`} tagline="We come to you at home, work, or roadside." bgImg="url(/img/mobile-tyre-fitting-van.jpg)" formOption="tyreclick"/>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <main>
                    <h1 class="text-center text-lg-start">Mobile Tyre Fitting in {area}</h1>
                    <p>Do you find yourself stranded with a <strong>flat tyre in {area}?</strong> Why not try our hassle-free <strong>mobile tyre fitting</strong> service instead! Our team can travel to your location, whether it's at home or on the side of the road, and install new tyres for you today.</p>
                        <div class="p-4 bg-light my-3 rounded-3">
                            <h2>About {area}</h2>
                            <p>{about}</p>
                        </div>
                        <h2>Tyre Services In {area}</h2>
                        <p><strong>Mobile Tyres {city}</strong> offers a range of services in <strong>{area}</strong> and the surrounding areas to help keep your vehicle running safely and efficiently. Our <a href="/mobile-puncture-repair">mobile puncture repair service</a> is available to fix any holes or damage to your tyres, saving you the cost of buying new tyres. We also offer <a href="/locking-wheel-nut-removal">locking wheel nut removal</a> services for those who have lost or damaged their locking wheel nut key.</p>
                        <p>If you're having trouble starting your vehicle, our <a href="/mobile-battery-replacement">mobile car battery replacement</a> service can help. We offer battery replacement on most makes and models of vehicles in {area}. Additionally, if your vehicle is equipped with <a href="/tyre-pressure-monitoring-systems">TPMS</a>, we can programme and calibrate your new tyre sensors to ensure that they are providing accurate information about your tyre pressures at all times.</p>
                </main>
                <article>
                    <h2>Why Choose Mobile Tyres {city}?</h2>
                    <ul>
                        <li>Convenient and efficient service that comes to you.</li>
                        <li>Experienced technicians who use state-of-the-art equipment.</li>
                        <li>Wide range of tyres from leading manufacturers at competitive prices.</li>
                        <li>Exceptional customer service and integrity as a family-run business.</li>
                        <li>Open 6 days a week with <a href="/emergency-tyre-replacement">same day fitting</a> available.</li>
                    </ul>
                </article>
                <article>
                    <h2>Get A Quote For Tyres In {area}</h2>
                    <p>At Mobile Tyres {city}, we are committed to providing customers in {area} with a range of high-quality services that are both efficient and affordable. <a href="/contact-us">Contact us</a> today to learn more about our services or to schedule an appointment.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <Benefits />
            </div>
        </div>
    </div>
    <CTA />
</Layout>